/* regole generali */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #B91450;
}

h1, h2{
    color: white;
    text-align:center;
    font-size: 30px;
}

h2{
    margin-top: 20px;
}

.container{
    margin: 30px auto;
    width: 80%;
}

.col-form{
    padding: 20px 20px;
}

label{
    color:#B91450;
}

#box-form,
#box-ticket{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

form{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

tbody, th, tr, td{
    padding: 10px 40px;
}


